@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 92 0% 100%;
    --foreground: 92 0% 10%;
    --card: 92 0% 100%;
    --card-foreground: 92 0% 15%;
    --popover: 92 0% 100%;
    --popover-foreground: 92 95% 10%;
    --primary: 92 11.1% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 92 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 54 10% 95%;
    --muted-foreground: 92 0% 40%;
    --accent: 54 10% 90%;
    --accent-foreground: 92 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 92 0% 100%;
    --border: 92 20% 82%;
    --input: 92 20% 50%;
    --ring: 92 11.1% 30%;
    --radius: 1rem;
  }

  .dark {
    --background: 92 10% 10%;
    --foreground: 92 0% 100%;
    --card: 92 0% 10%;
    --card-foreground: 92 0% 100%;
    --popover: 92 10% 5%;
    --popover-foreground: 92 0% 100%;
    --primary: 92 11.1% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 92 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 54 10% 25%;
    --muted-foreground: 92 0% 65%;
    --accent: 54 10% 25%;
    --accent-foreground: 92 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 92 0% 100%;
    --border: 92 20% 50%;
    --input: 92 20% 50%;
    --ring: 92 11.1% 30%;
    --radius: 1rem;
  }
}

/* Utility class to remove scrollbar while maintaining scroll */
.scrollbar-hide {
  /* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}